table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  

  
  th {
    color: white;
  }

  .cardTable {
    background: rgb(20, 24, 52);
    border-radius: 2px;
    display: inline-block;
    height: "100%";
    position: relative;
    width: 1000px;
  }
  
  .card-1Table {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  